<body>


















<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">CEDT Partlister</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">

          <li class="active"><a href="#">Home</a></li>
          <li><a href="/admin">Sign-in</a></li>
          <li><a href="http://www.github.com/shanjit/cedt-partlister">Source + Wiki</a></li>
          <li><a href="http://www.shanjitsingh.in">Contact</a></li>
        </ul>
        
      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>


<div class="container-fluid">

  <div class="row-fluid row">
    <div class="span3">
      <div class="well sidebar-nav-fixed nav nav-pills nav-fixed nav-stacked">
        
        <li class="active">
    <a href="#resistors">Resistors</a>
	</li>
	<li><a href="#capacitors">Capacitors</a></li>
	<li><a href="#diodes">Diodes</a></li>
	<li><a href="#npntransistors">NPN Transistors</a></li>
	<li><a href="#pnptransistors">PNP Transistors</a></li>
	<li><a href="#leds">LEDs</a></li>
	<li><a href="#clocksource">Clock Source</a></li>
	<li><a href="#regulators">Regulators</a></li>
	<li><a href="#ferritebead">Ferrite Bead</a></li>
	<li><a href="#resettablepolyfuses">Resetable Polyfuses</a></li>
	<li><a href="#inductors">Inductor</a></li>
	<li><a href="#buttonandswitches">Button and Switches</a></li>
	<li><a href="#connectors">Connectors</a></li>
	<li><a href="#sensors">Sensors</a></li>
	<li><a href="#ics">ICs</a></li>
        
        
      </div><!--/.well -->
    </div><!--/span-->

    <div class="span9 span-fixed-sidebar">
      
<section id="resistors">
<div class="page-header">
<h2>Resistors</h2>
</div>

<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			  <tbody>
			  <% @resistors.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.link %>">Link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				  
				</tr>
				<% end %>
			  </tbody>
			</table>
</section>


<section id="capacitors">
<div class="page-header">
<h2>Capacitors</h2>
</div>

<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Type</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			  <tbody>
			  <% @capacitors.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.type %></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.mouser %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				  
				</tr>
				<% end %>
			  </tbody>
			</table>
</section>


<section id="diodes">
<div class="page-header">
<h2>Diodes</h2>
</div>
<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Type</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			  <tbody>
			  <% @diodes.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.type %></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.mouser %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				</tr>
				<% end %>
			  </tbody>
			</table>
</section>


<section id="npntransistors">
<div class="page-header">
<h2>NPN Transistors</h2>
</div>
<table class="table table-striped">
			    <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			  <tbody>
			  <% @npntransistors.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.link %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				</tr>
				<% end %>
			  </tbody>
			</table>
</section>	


<section id="pnptransistors">
<div class="page-header">
<h2>PNP Transistors</h2>
</div>
<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			  <tbody>
			  <tbody>
			  <% @pnptransistors.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.link %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				  
				</tr>
				<% end %>
			  </tbody>
			</table>
</section>


<section id="leds">
<div class="page-header">
<h2>LEDs</h2>
</div>
<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			 <tbody>
			  <% @leds.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.link %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				  
				</tr>
				<% end %>
			  </tbody>
			</table>
</section>


<section id="clocksource">
<div class="page-header">
<h2>Clock Source</h2>
</div>
<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			 <tbody>
			  <% @clocksources.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.link %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				  
				</tr>
				<% end %>
			  </tbody>
			  </table>
</section>


<section id="regulators">
<div class="page-header">
<h2>Regulators</h2>
</div>
<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			  <tbody>
			  <% @regulators.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.link %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				  
				</tr>
				<% end %>
			  </tbody>
			  </table>
</section>


<section id="ferritebead">
<div class="page-header">
<h2>Ferrite Beads</h2>
</div>
<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			  <tbody>
			  <% @ferritebeads.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.package %></td>
				 <td><%=  element.description %></td>
				  <td><a href="<%=  element.link %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				</tr>
				<% end %>
			  </tbody>
			</table>
</section>


<section id="resettablepolyfuses">
<div class="page-header">
<h2>Resettable Polyfuses</h2>
</div>
<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			  <tbody>
			  <% @resettablepolyfuses.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.link %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				  
				</tr>
				<% end %>
			  </tbody>
			</table>
</section>


<section id="inductor">
<div class="page-header">
<h2>Inductor</h2>
</div>
<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			  <tbody>
			  <% @inductors.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.link %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				  
				</tr>
				<% end %>
			  </tbody>
			</table>
</section>


<section id="buttonandswitches">
<div class="page-header">
<h2>Button and Switches</h2>
</div>
<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			 <tbody>
			  <% @buttonandswitches.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.distribution %></td>
				  <td><a href="<%=  element.link %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				  
				</tr>
				<% end %>
			  </tbody>
			  </table>
</section>


<section id="connectors">
<div class="page-header">
<h2>Connectors</h2>
</div>
<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			  <tbody>
			  <% @connectors.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.link %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				  
				</tr>
				<% end %>
			  </tbody>
			  </table>
</section>

<section id="sensors">
<div class="page-header">
<h2>Sensors</h2>
</div>
<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Package</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			 <tbody>
			  <% @sensors.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.link %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				  
				</tr>
				<% end %>
			  </tbody>
			  </table>
</section>

<section id="ics">
<div class="page-header">
<h2>ICs</h2>
</div>
<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Image</th>
				  <th>Type</th>
				  <th>Package</th>
				  <th>Description</th>
				  <th>Link</th>
				  <th>Datasheet</th>
				  <th>Quantity</th>
				</tr>
			  </thead>

			 <tbody>
			  <% @ics.each do |element, index| %>
				<tr>
				
				<td> <%=  element.id %>
					</td>
				  <td><img src="<%=  element.imageurl %>" height="25%" width="25%"></td>
				  <td><%=  element.type %></td>
				  <td><%=  element.package %></td>
				  <td><%=  element.description %></td>
				  <td><a href="<%=  element.link %>">link</a></td>
				  <td><%=  element.datasheet %></td>
				  <td><%=  element.quantity %></td>
				  
				</tr>
				<% end %>
			  </tbody>
			</table>
</section>
      
      
      
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  
  <div class="offset1" align="right" >
  
  <a >Made by Shanjit Singh Jajmann</a>
  
  </div>

</div><!--/.fluid-container--></body>
